
<%- include('./partials/navbar.ejs') %>

<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="h5" >Name</div>
                    
                    <div class="h7"><%=user_data.Name%>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h6 text-muted">Followers</div>
                        <div class="h5">5</div>
                    </li>
                    <li class="list-group-item">
                        <div class="h6 text-muted">Following</div>
                        <div class="h5">10</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 gedf-main">

            <!--- \\\\\\\Post-->
            <div class="card gedf-card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Make
                                a post</a>
                        </li>
                     <!--  <li class="nav-item">
                            <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="false" href="#images">Images</a>
                        </li> -->
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                            <div class="form-group">
                                <label class="sr-only" for="message">post</label>
                                <textarea class="form-control" id="message" rows="3" placeholder="Write something..."></textarea>
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile"></label>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                    <br>
                    <div class="btn-toolbar justify-content-between">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">Share</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>


               <!--- \\\\\\\Post-->
               <% data.forEach(function(post){ %>
                <div class="card" >
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/062.jpg"
                      class="card-img-top"
                      alt="..."
                      style="height: 20rem;"
                    />
                    <div class="card-body">
                        <div class="d-flex justify-content">
                        <img class="rounded-circle" width="40" src="https://picsum.photos/500/500" alt="None">
                        <p> ㅤ </p>
                        <h5 class="card-title" style="margin-top: .5rem"><%= post.Name %></h5>
                        </div>
                         <p class="card-text" style="margin-top: .5rem"> <%=post.text_body%></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Start Time: <i class="fa fa-calendar"></i></strong> <%=post.start_time.slice(0, 10)%> <i class="fa fa-clock-o"></i> <%=post.start_time.slice(11, 19)%></li>
                        <li class="list-group-item"><strong>Start Time: <i class="fa fa-calendar"></i></strong> <%=post.end_time.slice(0, 10)%> <i class="fa fa-clock-o"></i> <%=post.end_time.slice(11, 19)%></li>
                        <li class="list-group-item"><strong>Amount: </strong><%=post.Amount%> tk</li>
                    </ul>
                    <div style="margin-top: .5rem; margin-left: .75rem; " class="text-muted h7 mb-2">
                        <p>
                        <i class="fa fa-calendar" ></i> <%=post.post_time.slice(0, 10)%> 
                        <i class="fa fa-clock-o" style="margin-left: .5rem;"></i> <%=post.post_time.slice(11, 19)%> </p>
                    </div>
                    <div class="card-body">
                      <button href="#" style="font-size:smaller;" type="button" class="btn btn-danger">Report</button>
                      <button href="#" style="font-size:smaller;" type="button" class="btn btn-info">Contact</button>
                    </div>
                  </div>
              <br>
              <br>
              <%})  %>
              

    </div>        
</div>
</body>
</html>