<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
            <div class="row">
                <div class="col-sm-4">
                    <img src="static/Images/profile_pic/<%=data.Person_id%>.jpg" height="auto" width="400px" alt="Profile_Pic">
                    <form method = 'POST' action="/profile_pic">
                        <input type="file" name="profile_pic">
                        <input type="submit" name="profile_pic_button" value="change">
                    </form>
                </div>
                <div class = "col-sm-8">
                    <form method='POST' action='/profile'>
                        <label for = "name">Name</label> <br>
                        <input type = "text" tag="name" name="name" value= "<%=data.Name %>" > <br><br>

                        <label for = "email">Email</label><br>
                        <input type ="text" tag="email" name="email" value= "<%=data.Email%>"> <br><br>
                        
                        <lable for = "organization">Organization</lable> <br>
                        <input type="text" tag="organization" name="organization" value = "<%=data.Organization%>"> <br> <br>

                        <lable for = "profession">Profession</lable> <br>
                        <input type="text" tag="profession" name="profession" value = "<%=data.Profession%>"> <br> <br>

                        <label for = "address">Address</label> <br>
                        <input type = "text" tag = "address" name="address" value="<%=data.Address%>"> <br> <br>

                        <lable for = "phone">Phone</lable> <br>
                        <input type = "text" tag = "phone" name="phone" value="<%=data.Phone%>"> <br> <br>
                        
                        <input type = "submit" name = "update" tag="update" value ="Save Changes">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>